* {
    font-family: "Rubik", sans-serif;
}

head {
    padding-top: 80px;
}

/* :root {
    --bs-primary: #a00098;
    --bs-primary-rgb: 160, 0, 152;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(193, 13, 253, 0.25);
    --bs-primary-text-emphasis: rgb(106, 42, 127);
    --bs-primary-bg-subtle: #f6eaff;
    --bs-border-color: #e3dee6;
    --bs-primary-border-subtle: #f09efe;
} */

:root {
    --bs-primary: #a00098;
    --bs-primary-rgb: 160, 0, 152;

    --bs-btn-hover-bg: #93008a; /* slightly darker hover */
    --bs-btn-hover-border-color: #93008a;
    --bs-btn-active-bg: #800074; /* even darker active */
    --bs-btn-active-border-color: #800074;
    --bs-btn-focus-shadow-rgb: 160, 0, 152; /* for focus glow */
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(193, 13, 253, 0.25);
    --bs-primary-text-emphasis: rgb(106, 42, 127);
    --bs-primary-bg-subtle: #f6eaff;
    --bs-border-color: #e3dee6;
    --bs-primary-border-subtle: #f09efe;
    --bs-focus-ring-color: rgba(193, 13, 253, 0.25);
}

.modal {
    z-index: 20000 !important;
}

.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #a00498 !important;
    --bs-btn-border-color: #a00498 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #9e0072 !important;
    --bs-btn-hover-border-color: #9d0065 !important;
    --bs-btn-focus-shadow-rgb: 160, 0, 152 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #a0008c !important;
    --bs-btn-active-border-color: #a00080 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: #a00498 !important;
    --bs-btn-disabled-border-color: #a00498 !important;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.form-check-input:checked {
    background-color: rgba(var(--bs-primary-rgb)) !important;
    border-color: rgba(var(--bs-primary-rgb)) !important;
}

.form-check-input:focus {
    border-color: #b886fe !important;
    box-shadow: 0 0 0 0.25rem rgba(193, 13, 253, 0.25) !important;
}

.form-control:focus {
    border-color: #b886fe !important;
    box-shadow: 0 0 0 0.25rem rgba(193, 13, 253, 0.25) !important;
}

.form-select:focus {
    border-color: #b886fe !important;
    box-shadow: 0 0 0 0.25rem rgba(193, 13, 253, 0.25) !important;
}

/* Navbar container */
nav.navbar {
    height: 80px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #f5f5f5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Links list */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-bottom: 0;
}

/* Each link */
.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    transition: 0.2s;
}

/* Hover effect */
.nav-links a:hover {
    color: rgba(var(--bs-primary-rgb));
}

#gozilla-banner {
    position: relative;
}

#gozilla-banner-img {
    width: 100%;
}

#download-btn {
    position: absolute;
    top: 160px;
    right: 50px;
    font-size: xx-large;
    background-color: #ffb6ff;
    border: #ffb6ff;
}

.phone-img {
    height: 700px;
}

.partner-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-with-us-img {
    aspect-ratio: 3/2;
    height: 300px;
    object-fit: cover;
    border-radius: var(--bs-border-radius-xl);
    transition: 0.3s;
    z-index: 1;
}

.partner-wrapper:hover .partner-with-us-img {
    filter: brightness(0.3);
}

.partner-with-us-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    color: white;
    transition: 0.3s ease;
    z-index: 2;
    padding: 15px;
}

.partner-wrapper:hover .partner-with-us-text {
    top: 50%;
    transform: translateY(-50%);
}

.download-img {
    height: 60px;
}

#footer {
    /* background-color: rgb(255, 48, 110); */
    height: 120px;
}

.footer-nav-links a {
    color: white;
}

.footer-nav-links a:hover {
    color: rgb(189, 189, 189);
}

#applyForm {
    width: 800px;
    max-width: 800px;
}

.apply-img {
    object-fit: contain;
    aspect-ratio: 1/1;
}

.thumbnail {
    position: relative;
    height: 400px;
}

.thumbnail::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #a004987c, #f891ff7c);
    opacity: 0.55;
    pointer-events: none;
}

.thumbnail-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.thumbnail-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    font-size: 2.5rem;
}

.career-img {
    height: 400px;
    border-radius: 15px;
}

.privacy-img {
    height: 300px;
}

#privacyAccordion {
    width: 100%;
}

.wheel-pointer {
    position: absolute;
    top: -10px; /* adjust above wheel */
    left: 50%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #b19d1c;
    z-index: 10;
    transform: translateX(-50%) rotate(180deg); /* combine both */
}

.wheel-container {
    width: 500px;
    height: 500px;
    margin: auto;
}

@media (max-width: 600px) {
    .wheel-container {
        width: 200px;
        height: 200px;
    }
}

.wheel-container canvas {
    border-radius: 50%; /* round wheel */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: #dca3ff;
}

#backdrop-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
